<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Hong Kong</key>
	<string></string>
	<key>Xiamen
Changsha
Pop. 10 million

Xiamen
Pop. 5.2 million
Xiamen
Changsha
Pop. 10 million

Xiamen
Pop. 5.2 million
Xiamen</key>
	<string></string>
	<key>Chongqing</key>
	<string></string>
	<key>Osaka</key>
	<string></string>
	<key>Jakarta</key>
	<string></string>
	<key>Bangkok</key>
	<string></string>
	<key>Hamburg</key>
	<string></string>
	<key>Madrid</key>
	<string></string>
	<key>Milan</key>
	<string></string>
	<key>Barcelona</key>
	<string></string>
	<key>Vienna</key>
	<string></string>
	<key>Rome</key>
	<string></string>
	<key>Berlin</key>
	<string></string>
	<key>London</key>
	<string></string>
	<key>Paris</key>
	<string></string>
	<key>Seoul</key>
	<string></string>
	<key>Tokyo</key>
	<string></string>
	<key>Chicago</key>
	<string></string>
	<key>Los Angeles</key>
	<string></string>
	<key>Boston</key>
	<string></string>
	<key>Washington D.C.</key>
	<string></string>
	<key>New York</key>
	<string></string>
	<key>Shanghai</key>
	<string></string>
	<key>Beijing</key>
	<string></string>
	<key>Guangzhou</key>
	<string></string>
</dict>
</plist>
